.card-container {
    width: 300px; 
    height: auto;
    font-size: 2rem;
    padding: 0;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    z-index: 10;
    background-color: var(--secondary-color);
    flex-shrink: 0;
}

.card-description { 
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem; 
    color: var(--secondary-color);
    margin: 0; 
  
}

.card-background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
}

.card-content {
    position: relative;
    width: 100%; 
    height: 300px; 
    overflow: hidden;
}

.card-title {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0;
}    